/* CSS Document */




.well{
    background-color: bisque;
}

.dayDiv:hover{
    background-color: #B8D0D5  ;
    border: 1px solid #ED7D00 ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dateText{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 30px;
    margin: 0;
     
}

input[type="radio"]{
  margin-top: -.5px;
  vertical-align: middle;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;

     background-color: #f1f1f1;  /*Circle color*/
     color: #ED7D00;  /*Check Mark color*/
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px; /* Radius makes the element a circle*/
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
     outline: none !important;    /*gets rid of outline around the actively checked radiobutton*/
}

.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}


label
{

     font: 15px/1.7 'Open Sans', sans-serif;
     color: navy;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 

input[value="0"]{
    opacity: 0;
}