/* CSS Document */



.memoText{
  /* display: inline-block;
  position: relative; */
  /* vertical-align: middle; */
  /* height: 30px; */
  margin-left: 30px;
  width: 400px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.page-footer{
background-color: LightGray;
text-align: center;
;
}

.shifts{
  background-color: rgba(161, 161, 161, 0.19);
}

.options{
  background-color: navy;
}

.options h3{
    color: LightGray;
}

.report {
  background-color: LightGray;
}



.dayDiv:hover{
    background-color: #B8D0D5  ;
    border: 1px solid #ED7D00 ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dateText{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 30px;
    margin: 0;

}

input[type="radio"]{
  margin-top: -.5px;
  vertical-align: middle;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;

     background-color: white;  /*Circle color*/
     color: #ED7D00;  /*Check Mark color*/
     height: 30px;
     width: 30px;
     /* border: solid 1px;
     border-color: black; */
     border-radius: 50px; /* Radius makes the element a circle*/
     cursor: pointer;
     margin-right: 7px;
     outline: none;
     outline: none !important;    /*gets rid of outline around the actively checked radiobutton*/
}

.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
     background-color: white;
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: white;
}


label
{

     font: 15px/1.7 'Open Sans', sans-serif;
     color: navy;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
}

input[value="0"]{
    opacity: 0;
}
